@import "tailwindcss";
@layer components{
 .Banner{

    
    padding-top: 30px;
    /* background-color: rgb(201, 192, 198); */
   }
   
   
}
@theme {  
          --breakpoint-sm: 570px; 
          --breakpoint-md: 768px ;  
          --breakpoint-lg: 992px;
          --breakpoint-xl: 1170px;
        }
@layer base{
    h1{
        @apply text-red-800 sm:leading-8 md:leading-8 lg:leading-[96px] text-3xl font-bold text-center mt-5 mb-4;
    }
    h2{
        @apply text-red-400 text-[20px] mb-5 pt-5 font-semibold text-center;
      }
      h3{
        @apply text-red-400 text-[20px] mb-5 font-semibold text-center;
      }
      li{
        @apply text-[18px];
        list-style: none;
      }
      p{
        @apply text-gray-500 font-semibold;
      }

}
@layer utilities {
    .shadow {
      border: 1px solid aqua;
    }
  }
 
  .img-width img{
    width: 100%;
    height: auto;
   
   
}

  .slick-dots {
    bottom: 10px !important;
    
}
.slick-dots li{
    margin: 0 6px;
    width: 12px !important;
    height: 12px !important;
    border-radius: 100%;
    background: #808080 ;
}
ul .slick-active{
    background: #DB4444 !important;
    border: 2px solid #fff;
}
